<div class="pagination__title">
  <span class="pagination__title-h">Comments</span>
  <hr>
</div>

<div class="utterances">
  <script src="https://utteranc.es/client.js"
    repo="{{ $.Site.Params.utterances.repo }}"
    issue-term="pathname"
    theme="{{ $.Site.Params.utterances.theme }}"
    crossorigin="anonymous"
    async>
  </script>
</div>

<div class="back-to-top-wrapper">
  <a href="#top" class="back-to-top-link" aria-label="Back to Top">
    <i class="fas fa-arrow-up fa-fw"></i>
  </a>
</div>
