<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }} Powered by <a href="http://gohugo.io">Hugo</a> - v{{ .Site.Hugo.Version }}</span>
    {{end}}
        <span>:: Theme made by <a href="https://twitter.com/panr">panr</a></span>
    </div>
    {{ if $.Site.Params.NetlifyLink }}
    <span class="pull-right"><a href="{{ $.Site.Params.NetlifyLink }}"><img src="{{ $.Site.Params.NetlifyBadge }}" alt="Netlify Status"></a></span>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
