<link rel="stylesheet" type="text/css" href="/slider/image-comparison-slider.css">

<div class="image-spliter">
  <div class="mover"></div>
  {{ .Inner }}
</div>

<script src="/slider/image-comparison-slider.min.js"></script>